.main{
    background: #fff;
    padding: 2rem;
    height: 700px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.title{
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: left;
}

.form1{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: start;
    grid-gap: 1rem;
}

.field{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding:1rem 0;
}

.input, .select{
    border: 2px solid black;
    width: 100% !important;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
    color: #000;
}

.Narration{
    padding: 1rem;
    background: transparent;
    border: 2px solid #000;
    color: #000;
}

.btn{
    box-shadow: 0px 18px 43px 4px #234CEB36;
    background: #234CEB;
    color: #fff;
    width: 150px;
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 2rem;
}

@media screen and (max-width: 620px) {
    .main{
        overflow: scroll;
    }
    .form1{
        grid-template-columns: repeat(1, auto);
    }
}
