.main{
    background: #fff;
    width: 700px;
    height: 700px;
    border: none;
    border-radius: 2rem;
    padding: 5rem;
    margin-inline: auto;
}

.title{
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: start;
    grid-gap: 1rem;
}

.field{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding:1rem 0;
}

.input, .select{
    border: 2px solid black;
    width: 100% !important;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
    color: #000;
}

.Narration{
    padding: 1rem;
    background: transparent;
    border: 2px solid #000;
    color: #000;
}

.btn{
    box-shadow: 0px 18px 43px 4px #234CEB36;
    background: #234CEB;
    color: #fff;
    width: 150px;
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    /* .main{
        width: 100%;
        height: 40rem;
        overflow: scroll;
    } */

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
    }
}

@media screen and (max-width: 650px) {
    /* .main{
        width: 100%;
        padding: 1rem 2rem;
    } */

    .textwhite{
        width: 35px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}