.main{
    background: #fff;
    width: 600px;
    height: 550px;
    border: none;
    border-radius: 2rem;
    padding: 1rem 5rem;
    margin-inline: auto;
    position: relative;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textwhite{
    width: 35px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
    border-radius: 9999px;

    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background-color: #000;
    border: 2px solid #000;
    -webkit-box-shadow: inset 0 0 6px #fff; 
    box-shadow: inset 0 0 1px 2px #fff; 
}

.backgroundLight{
    background-color: none;
    border: 2px solid #000;
}

.bar{
    width: 85px;
    height: 2px;
}

.scroll{
    border: 2px solid rgb(97, 57, 57);
    width: 100%;
    height: 70%;
    border: none;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 17px;
}
  
.scroll::-webkit-scrollbar-track {
    background: #BFB6B6;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
  
.scroll::-webkit-scrollbar-thumb {
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #BFB6B6;
    height: 10px;
}

.form{
    margin-right: 5rem;
}

.field{
    display: flex;
    flex-direction: column;
    padding:1rem 0;
}

.input{
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
    color: #000;
}

.btn{
    box-shadow: 0px 18px 43px 4px #234CEB36;
    background: #234CEB;
    color: #fff;
    width: 150px;
    padding: 0.8rem;
    border-radius: 37px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.title{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5rem;
    position: absolute;
    top: 6.5rem;
    left: 6rem;
    font-size: 14px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
