.image_gallery_container {
    margin-top: 4rem;
  }
  
  /* .image_grid {
    display:flex;
    gap: 2rem;
  } */

  .image_box {
    position: relative;
  }
  
  .image_box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
  }

  .image_box span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--color-white);
    cursor: pointer;
    font-weight: 600;
  }
  
  .image_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .image_popup img {
    max-width: 80%;
    max-height: 80%;
  }
  
  .close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  } 