.main{
    background: #fff;
    width: 700px;
    height: 550px;
    border: none;
    border-radius: 2rem;
    padding: 5rem;
    margin-inline: auto;
}

.scroll{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 17px;
}
  
.scroll::-webkit-scrollbar-track {
    background: #BFB6B6;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
  
.scroll::-webkit-scrollbar-thumb {
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #BFB6B6;
    height: 10px;
}

.form{
    margin-right: 5rem;
}

.method{
    margin-top: 2rem;
}

.method .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.icon{
    border: 2px solid #000;
    color: #000;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    font-size: 10px;
}

/* .method .icon:nth-child(1){
    border: 2px solid #234CEB;
    color: #234CEB;
} */

.field{
    display: flex;
    flex-direction: column;
    padding:1rem 0;
}

.input{
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
    color: #000;
}

.naira .input{
    border-left: none;
    border-radius: 0 0.3rem 0.3rem 0;
}

.naira{
    display: flex;
}

.nairalogo{
    background: #BFB6B6;
    padding: 1rem;
    border: 2px solid black;
    border-right: none;
    border-radius: 0.3rem 0 0 0.3rem;

}

.fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0;
}

.btn{
    box-shadow: 0px 18px 43px 4px #234CEB36;
    background: #234CEB;
    color: #fff;
    width: 150px;
    padding: 0.8rem;
    border-radius: 37px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 650px) {
    .method .icons{
        width: 250px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .icon{
        padding: 0.2rem 0.5rem;
        
    }

    .form{
        width: 93%;;
    }

    .fields{
        flex-direction: column;
        align-items: stretch;
    }
}

