.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 10rem;
}

.popupContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeIcon {
  position: absolute;
  top: 2rem;
  right: 8rem;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 35px;
  color: #ffffff;

}

@media screen and (max-width: 620px) {
  .closeIcon{
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
