.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.close{
  display: none;
}

.popupContent {
  position: relative; /* Ensure relative positioning for the absolute button */
}

.closeIcon {
  position: absolute;
  top: 2rem;
  right: 8rem;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 35px;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  .closeIcon{
    right: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .popupContent {
    width: 95%; /* Ensure relative positioning for the absolute button */
  }
}
